<div class="account_tip">
  {{#if user}}
    <span>You are currently logged in as {{{user.first}}} {{{user.last}}}</span>
  {{else}}
    <a href="/login">Login</a>
    <br />
    <a href="/signup">Sign Up</a>
  {{/if}}
</div>
