<div class="account_tip">
  {{#if user}}
    <span>Welcome, {{{user.first}}} {{{user.last}}}.</span>
  {{else}}
    <a href="/login">Login</a>
    <br />
    <a href="/signup">Sign Up</a>
  {{/if}}
</div>
