<nav id="nav-multi-square" class="nav-multi-square nav-intro opacity-0">
  <span class="nav-square-current nav-square">
    <span id="1" class="dot"><a href="/" style="text-decoration:none; color:inherit;">Update News Preference</a></span>
  </span>
  <span class="nav-square-current nav-square">
    <span id="2" class="dot"><a href="/logout" style="text-decoration:none; color:inherit;">Sign Out</a></span>
  </span>
  <span class="nav-square-current nav-square">
    <span id="3" class="dot"><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=2017newsfeeder@email.com" style="text-decoration:none; color:inherit;" target="blank">Contact Us</a></span>
  </span>
  <span class="nav-square-current nav-square">
    <span id="4" class="dot"><a href="/update_profile" style="text-decoration:none; color:inherit;">Update User Profile</a></span>
  </span>
</nav>
