<nav id="nav-multi-square" class="nav-multi-square nav-intro opacity-0">
  <span onclick="window.location.href='/subscribe'" class="nav-square-current nav-square">
    <span id="1" class="dot">Update News Preference</span>
  </span>
  <span onclick="window.location.href='/logout'" class="nav-square-current nav-square">
    <span id="2" class="dot">Sign Out</span>
  </span>
  <span onclick="window.location.href='mailto:2017newsfeeder@email.com'"class="nav-square-current nav-square">
    <span id="3" class="dot">Contact Us</span>
  </span>
  <span onclick="window.location.href='/update_profile'" class="nav-square-current nav-square">
    <span id="4" class="dot">Manage Profile</span>
  </span>
  <span onclick="window.location.href='/update_password'" class="nav-square-current nav-square">
    <span id="5" class="dot">Manage Password</span>
  </span>
</nav>
