<nav id="nav-multi-square" class="nav-multi-square nav-intro opacity-0">
  <span class="nav-square-current nav-square">
    <span id="1" class="dot" onclick="window.location.href='/update_profile'">Update News Preference</span>
  </span>
  <span class="nav-square-current nav-square">
    <span id="2" class="dot" onclick="window.location.href='/logout'">Sign Out</span>
  </span>
  <span class="nav-square-current nav-square">
    <span id="3" class="dot" onclick="window.location.href=&#39;/&#39;">Social Media Links</span>
  </span>
   <span class="nav-square-current nav-square">
    <span id="3" class="dot" onclick="window.location.href=&#39;/&#39;">Social Media Links</span>
  </span>
</nav>
