<script type="text/javascript">
</script>

<div class="container cat_img">

  <h1> Select your favourite three News Categories from list of categories from below </h1>

  <div class="row">

    <figure id = "1"class="col-xs-6 col-sm-6 col-md-4 col-lg-3 sel" onclick="window.location.href='/politics'">
      <img src="3.jpg" alt="This is my work" class="img-responsive img-category"  value = "Politics"/>
        <figcaption>
          <div class="photo-details">
            <h4>Politics News</h4>
          </div>
        </figcaption>
    </figure>

    <figure id = "2" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 sel" onclick="window.location.href='/health'">
      <img src="5.jpg" alt="This is my work" class="img-responsive img-category" value = "Health"/>
        <figcaption>
          <div class="photo-details">
            <h4>Health News</h4>
          </div>
        </figcaption>
    </figure>

    <figure id = "3"class="col-xs-6 col-sm-6 col-md-4 col-lg-3 sel" onclick="window.location.href='/entertainment'">
      <img src="6.jpg" alt="This is my work" class="img-responsive img-category" value = "Entertainment"/>
        <figcaption>
          <div class="photo-details">
            <h4>Entertainment News</h4>
          </div>
        </figcaption>

    </figure>

    <figure id = "4" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 sel" onclick="window.location.href='/tech'">
      <img src="7.jpg" alt="This is my work" class="img-responsive img-category" value = "Tech"/>
        <figcaption>
          <div class="photo-details">
            <h4>Technology News</h4>
          </div>

        </figcaption>
    </figure>

    <figure id = "5"class="col-xs-6 col-sm-6 col-md-4 col-lg-3 sel" onclick="window.location.href='/travel'">
      <img src="9.jpg" alt="This is my work" class="img-responsive img-category" value = "Travel"/>
        <figcaption>
          <div class="photo-details">
            <h4>Travel News</h4>
          </div>
        </figcaption>
    </figure>

    <figure id = "6"class="col-xs-6 col-sm-6 col-md-4 col-lg-3 sel" onclick="window.location.href='/sports'">
      <img src="10.jpg" alt="This is my work" class="img-responsive img-category" value = "Sports"/>
        <figcaption>
          <div class="photo-details">
            <h4>Sports News</h4>
          </div>
        </figcaption>
    </figure>
  </div>
</div>

<h1 style = "text-align:center;"> Selected News Categories </h1>

<div class = "selectedCategories">

</div>
<button class="goto_button" value="Click"><span>Goto News </span></button>

<button class="edit_button" value="Click"><span> Edit Selected Categories </span></button>
