<p class = "appName"> newsFeeder </p>

<div class = "signIn">
  <fieldset style = "margin:auto;width:400px">
    <legend style="color: white;">Sign in</legend>
    <form role='form' action="/login" method="post">
      <table>
        <tr>
          <th> User Name </th> <td> <input type="text" placeholder="UserName" name="username" required>
        </tr>
        <tr>
          <th> Password </th> <td> <input type="Password" placeholder="Password" name="password" required>
        </tr>
      </table>
      <button class = "signInAccount" type="submit"> Sign In </button>
    </form>
  </fieldset>
</div>
