<!DOCTYPE html>
<html lang="en">
<head>
	<title>Password Reset</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  <style>
  	.Footer {
    	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
    	position: absolute; bottom: 5px;
    	color: black;
    	font-size: 15px;
    }
  	.box{
  		height: 23px;
  		width: 228px;
  	}
  </style>
</head>
<body background="Login_background.jpg" style="background-repeat: no-repeat; background-size: 100%;" align="Left" class="body">
	<th width="100" scope="row" align="Center"><p><img src="Logo.gif" width="100" height="100" alt=""/></p>
	<div class = "PasswordReset">
		<fieldset style = "margin-top:10px;">
			<legend style="color: white;">Answer the following Security questions to retrieve your Account </legend>
			<form role="form" method="post">
				<input type="hidden" name="username" value="{{{username}}}"required></input>
			  <table>
  				<tr>
  					<th> <label>Which is your birth city?</label></th>
  					<th> <input type="text" name="security1" maxlength="25" required class="box"> </th>
  				</tr>
  				<tr>
            <th> <label>What is your pet's name?</label></th>
  					<th> <input type="text" name="security2" maxlength="25" required class="box"> </th>
  				</tr>
					<td height="20"  colspan="4" align="center" >&nbsp;</td>
					<tr>
						<th scope="row">New Password</th><td> <input type="password" placeholder="Password" name="password" required class="box"></td>
					</tr>
					<tr>
		 				<th scope="row">Confirm Password</th> <td> <input type="password" placeholder="Password" name="password2" required class="box"></td>
					</tr>
  				<tr>
  					<td style = "text-align:center;padding-top:15px;"> <button  class = "PasswordReset" formaction="/reset_password" type="submit"> Password Reset </button> </td>
  				</tr>
		    </table>
			</form>
		</fieldset>
	</div>
</body>
</html>
