<!DOCTYPE html>
<html>
<head>
<title>SignUp Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
	<style>
		.Footer {
			font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
			position: absolute; bottom: 5px;
			color: black;
			font-size: 15px;
		}
		.box{
			height: 23px;
			width: 228px;
		}
		.CreateAccount {
		  display: inline-block;
		  border-radius: 4px;
		  background-color:blue;
		  border: none;
		  color: white;
		  align-self: center;
		  text-align: center;
		  padding: 8px 15px;
		  font-size: 20px;
		  transition: all 0.5s;
		  cursor: pointer;
		  margin: 5px;
		  box-shadow: 0 9px #999;
		}
	</style>
</head>
<body background="Login_background.jpg" style="background-repeat: no-repeat; background-size: 100%;" align="Left" class="body">
	<th width="100" scope="row" align="Center">
		<p><img src="Logo.gif" width="100" height="100" alt=""/></p>
	<div class = "PasswordReset">
		<fieldset style = "margin-top:10px;">
			<legend style="color: white; align=center;"><strong>Fill your information</strong></legend>
			<form role='form' action="/signup" method="post" >
				<table align="center" bgcolor="#BAE2EC">
					<tr></tr>
					<tr>
       			<th scope="row">First Name</th>
						<td> <input type="text" placeholder="First Name" name="first" required class="box"></td>
      		</tr>
					<tr>
						<th scope="row">Last Name</th>
						<td> <input type="text" placeholder="Last Name" name="last" required class="box"></td>
      		</tr>
					<tr>
						<th> Choose your unique Username </th>
						<th> <input type="text" placeholder="Champion" name="username" maxlength="25" required class="box"> </th>
					</tr>
					<tr>
						<th> E-mail address </th> <th> <input type="email" placeholder="xyz@gmail.com" maxlength="64" required class="box"> </th>
					</tr>
					<tr>
						<th>Choose your first Security question</th>
						<th><select class="box">
						  <option>Which is your birth city?</option>
						  <option>What is your favourite colour?</option>
						  <option>What is your pet's name?</option>
						  <option>Who is your favourite actor?</option>
						</select></th>
					</tr>
					<tr>
						<th></th>
						<th> <input type="text" name="security1" maxlength="25" required class="box"> </th>
					</tr>
					<tr>
						<th>Choose your second Security question</th>
						<th><select class="box">
						  <option>Which is your birth city?</option>
						  <option>What is your favourite colour?</option>
						  <option>What is your pet's name?</option>
						  <option>Who is your favourite actor?</option>
						</select></th>
					</tr>
					<tr>
						<th> </th>
						<th> <input type="text" name="security2" maxlength="25" required class="box"> </th>
					</tr>
					<tr>
       			 <th scope="row">Create Password</th> <td> <input type="password" placeholder="Password" name="password" required class="box">
						 </td>
      		</tr>
					<tr>
       			 <th scope="row">Confirm Password</th> <td> <input type="password" placeholder="Password" name="password2" required class="box">
						 </td>
      		</tr>
					<tr>
						<th></th>
						<th style = "text-align:center;padding-top:10px;align-self: center">
            	<button class = "CreateAccount" type="submit"> Create Account </button>
          	</th>
					</tr>
				</table>
			</form>
		</fieldset>
	</div>
	<p class="Footer">SEND YOUR FEEDBACK TO: <a href="mailto:2017newsfeeder@gmail.com">2017newsfeeder@gmail.com</a></p>
</body>
</html>
